@font-face {
  font-family: 'TUITypeLight';
  src: url('../fonts/TUITypeLt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'TUITypeLight';
}

body {
  margin: 0;
}

h1,
p {
  margin-top: 0;
}

h3 {
  font-size: 32px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}