@font-face {
  font-family: 'TUITypeLight';
  src: url('../fonts/TUITypeLt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}